body {
    background: blue;
    font: normal 15pt Arial;
}
h1 {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 8px 8px 10px rgb(37, 37, 37);
}
div#vivos {
    float: left;
}
div#mortos {
    float: right;

}
div#marca {
    color: rgb(153, 153, 153);
    text-align: center;
    font-style: italic;
}
